- custom_field.with_type do |type|
  - case type
  - when :date_field
    .row
      .col-12
        .checkbox-container
          = form.check_box :search_filter, disabled: true
          = form.label :search_filter, t("admin.custom_fields.form.search_filter.search_filter"), class: "disabled"

          = render :partial => "layouts/info_text", :locals => { :text => t("admin.custom_fields.form.search_filter.date_cant_be_filtered") }

  - when :text
    .row
      .col-12
        .checkbox-container
          = form.check_box :search_filter, disabled: true
          = form.label :search_filter, t("admin.custom_fields.form.search_filter.search_filter"), class: "disabled"

          = render :partial => "layouts/info_text", :locals => { :text => t("admin.custom_fields.form.search_filter.text_cant_be_filtered") }

  - else
    .row
      .col-12
        .checkbox-container
          = form.check_box :search_filter
          = form.label :search_filter, t("admin.custom_fields.form.search_filter.search_filter")
    .row
      .col-8
        = form.label :boolean_operator, t("admin.custom_fields.form.search_filter.boolean_operator")
        = form.text_field :boolean_operator
