!!! 5
/[if lt IE 7] <html lang="en" class="no-js oldie ie6">
/[if IE 7 ]   <html lang="en" class="no-js oldie ie7">
/[if IE 8 ]   <html lang="en" class="no-js oldie ie8">
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="#{I18n.locale}" class="no-js"> <!--<![endif]-->

%head
  %meta{charset: "utf-8"}

  = render :partial => "layouts/kissmetrics"
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100,100italic,300italic,400italic,500italic,700italic,900,900italic&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
  %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}
  %meta{ :property => "og:type", :content =>"website"}
  %meta{:"http-equiv" => "content-language", content: "#{I18n.locale}"}
  %meta{name: "twitter:card", content: "summary"}

  / Additional meta tags for SEO, etc.
  = content_for :head
  = render :partial => "layouts/marketplace_head"

  -# A tag for google webmaster site verification
  %meta{ name: "google-site-verification", content: "JUqB3tYmezYEJNAkw8MUdmIocAGztY85eaoNKBD5j0Q"}
