= render :partial => 'layouts/head'

%body

  %noscript
    .noscript-padding
      -# Noscript content will be positioned here

  = render :partial => 'layouts/global_header'

  - if display_expiration_notice?
    = render partial: "layouts/expiration_notice",
        :locals => {external_plan_service_login_url: admin_plan_path}

  - content_for(:page_content) do
    %section.marketplace-lander
      - with_big_cover_photo do
        .coverimage
          %figure.marketplace-cover.fluidratio
            .lander-content.marketplace-lander-content
              = yield :title_header
      - with_small_cover_photo do
        /.coverimage
        /  %figure.marketplace-cover-small.fluidratio
        /  .coverimage-fade{:class => yield(:coverfade_class)}
        /    %figure.marketplace-cover-small-fade.fluidratio
        .title-container
          .title-header-wrapper
            .marketplace-title-header
              = yield :title_header

    %article.page-content
      .wrapper
        .wrapper-inner{style: "min-height: 900px"}
          = render :partial => "layouts/notifications"
          = yield

    #footer.page-content{style: 'background: #444; margin-top: 3rem'}
      .wrapper{style: 'background: #444;'}
        .wrapper-inner{style: 'border: none; background: #444; padding: 1em 0 1em 0; font-size: smaller; font-family: Verdana'}
          .row{style: 'margin: 0'}
            .col-4
              %ul{style: 'padding: 0; list-style-type: none;' }
                %li
                  = link_to about_infos_path do
                    = icon_tag("information", ["icon-with-text"])
                    = t("header.about")

                %li
                  = link_to new_listing_path, :class => "hidden-tablet" do
                    = icon_tag("new_listing", ["icon-with-text"])
                    = t("homepage.index.post_new_listing")

                - with_invite_link do
                  %li
                    = link_to new_invitation_path do
                      = icon_tag("invite", ["icon-with-text"])
                      = t("header.invite")

                .hidden-desktop
                  - with_available_locales do |locales|
                    .toggle-menu-title
                      = t("layouts.global-header.select_language")

                    = render :partial => "layouts/locale_select", :collection => locales, :as => :loc_array

            .col-4
              %ul{style: 'padding: 0; list-style-type: none;' }
                %li
                  = link_to new_user_feedback_path do
                    = icon_tag("feedback", ["icon-with-text"])
                    = t("header.contact_us")

                %li
                  = link_to "/" do
                    = icon_tag("home", ["icon-with-text"])
                    = t("header.home")


            .col-4
              %ul{style: 'padding: 0; list-style-type: none;' }
                %li
                  - if @current_user && @current_community && @current_user.has_admin_rights_in?(@current_community)
                    = link_to edit_details_admin_community_path(@current_community) do
                      = icon_tag("admin", ["icon-with-text"])
                      = t("layouts.logged_in.admin")

                - Maybe(@current_community).menu_links.each do |menu_links|
                  - menu_links.each do |menu_link|
                    %li
                      = link_to menu_link.url(I18n.locale), :target => "_blank" do
                        = icon_tag("redirect", ["icon-with-text"])
                        = menu_link.title(I18n.locale)



  -#
    This is not pretty, but works.
    On homepage, we want to wrap the whole page content (search bar and the "real" content) to a form, so that
    pressing send from either search bar of filter list will send all the form fields

  - if params[:controller] == "homepage" && params[:action] == "index"
    %form{method: "get", id: "homepage-filters"}
      - params.except("action", "controller", "q", "lc", "ls", "view", "utf8", "boundingbox").each do |param, value|
        - unless param.match(/^filter_option/) || param.match(/^checkbox_filter_option/) || param.match(/^nf_/) || param.match(/^price_/)
          = hidden_field_tag param, value
      = hidden_field_tag "view", @view_type
      = content_for(:page_content)
  - else
    = content_for(:page_content)

  = render :partial => "layouts/google_analytics_script"

  -# Most of the JavaScript should be for performance reasons at the end of the body

  -# load Facebook SDK for the whole page
  = render :partial => "layouts/facebook_sdk"

  = javascript_include_tag 'application'

  :javascript
    window.ST.jsonTranslations = #{JSONTranslations.get(I18n.locale)}

  - if @analytics_event
    :javascript
      report_analytics_event(#{@analytics_event});

  :javascript
    $(function() {
      FastClick.attach(document.body, { excludeNode: '^pac-'} );
      $('input, textarea').placeholder();
    });

  -# Disable animations on tests
  - if Rails.env.test?
    :javascript
      $(function() {
        $.transit.enabled = false;
      });

  = content_for :extra_javascript

  :javascript
    $(document).ready(function() { initialize_defaults("#{I18n.locale}"); #{yield :javascript} });

  = render :partial => "layouts/noscript"
